@model FantasyFootbal.Models.User.RestorePassword
@{
    ViewData["Title"] = "ResetPassword";
}

<div class="container">
    <div class="row main">
        <div class="main-login main-center">
            <div class="sign-now">
                <h5>Restore password</h5>
            </div>
            <form asp-controller="Home" asp-action="ResetPassword" class="" method="post">
                <div class="form-grou">
                    <input type="text" required class="form-control" name="email" id="email" placeholder="Enter your Email" pattern="\S + @("@")\S + \.S\ + $" />
                </div>
                <div class="form-group">
                    <a href="Index.html"><input type="submit" id="button" value="Send" class="btn btn-primary btn-lg btn-block login-button" name="restore"></a>
                </div>
            </form>
        </div>
    </div>
</div>

